* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.top-text,
.bottom-text {
  color: #f5c542;
  margin: 10px 0;
  font-size: 1.2rem;
}

.question {
  font-size: 2.2rem;
  margin: 20px 0;
}

.question span {
  color: #ffcc00;
}

.buttons {
  margin-top: 25px;
}

button {
  font-size: 1.2rem;
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #555;
  color: white;
  position: absolute;
}
